<% provide(:title, "Get Lunch") %>
<h1>Choose food</h1>
      
      <section class="dw">
        <%= render 'shared/weekdays' %>
      </section>

      
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>