<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Твой пост СЮДА!" %>
  </div>
  <%= f.submit "Постануть", class: "btn btn-primary" %>
<% end %>