<% @user ||= current_user %>
<nav>
	<ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contacts", contact_path %></li>
      <li>среда</li>
      <li>четверг</li>
      <li>пятница</li>
      <li>суббота</li>
      <li>воскресенье</li>
    </ul>
</nav>