<footer class="footer">
  <small>
    The lunches by Ivan
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contacts", contact_path %></li>
      <li><a href="https://prostoest.ru/category/news/novosti-pro-edu/">news</a></li>
    </ul>
  </nav>
</footer>